[submodule "third_party/vulpesrender"]
	path = third_party/vulpesrender
	url = https://github.com/fuchstraumer/vulpesrender
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/shadertools"]
	path = third_party/shadertools
	url = https://github.com/fuchstraumer/ShaderTools
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/json"]
	path = third_party/json
	url = http://github.com/nlohmann/json
[submodule "third_party/glm"]
	path = third_party/glm
	url = http://github.com/g-truc/glm
[submodule "third_party/gli"]
	path = third_party/gli
	url = http://github.com/g-truc/gli
[submodule "third_party/easyloggingpp"]
	path = third_party/easyloggingpp
	url = http://github.com/muflihun/easyloggingpp
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "third_party/vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
