[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/gli"]
	path = third_party/gli
	url = https://github.com/g-truc/gli
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "third_party/vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/basis_universal"]
	path = third_party/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/shader-slang/slang
